.home{
    background-color: rgb(138, 135, 135);
    color: rgb(78, 19, 64);
    font-size: 3rem;
    position: relative;
    top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-direction: column;*/
    height:120%

}




.holder{
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 60%;*/
    border-radius: 5px;
    background: rgb(219, 214, 214);
    box-shadow: 10px 5px 5px black;
    max-width: 450px;
    padding: 20px;  
    gap: 5px;
    margin: 10px;

}

p{
    font-size: medium;
    padding: 10px;
}

.image{
    border-radius: 1000px;
    max-width:200px;

}

