.navbar{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 120px;
   width: 100vw;
    background-color: rgb(197, 208, 211);
    padding: 0.5rem;


    .title{
        font-size: 400;
    }
        
    }
