

p{
    font-size: small;
    padding: 5px;
    text-align:justify;
}

.portfolio-holder{
    display: flex;
    flex-wrap: wrap;
 flex-direction: row;
 justify-content: center;

    height: 100%;
    border-radius: 5px;
    background: rgb(219, 214, 214);
    box-shadow: 10px 5px 5px black;
    max-width: 90vw;
    padding: 20px;  
    margin: 5px  ;


}

.cards{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    background: rgb(239, 236, 236);
    margin: 5px  ;
    border: 1px black solid;
    max-width: 400px;
    height: 600px;
    text-align: center;
    border-radius: 10px;
}

.portfolio-pics{
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    max-height: 250px;
    object-fit: contain
}
h5{
    width: 100vw; 
    height: 60px;
    margin: auto; 
    text-align: center;
    margin-top: 0;
    background: rgb(186, 182, 182);
        text-align: center;
        text-shadow: 1px 0px 0px blueviolet; 
    
    

}

portfolio.h6{
    background-color: transparent;
}